site_name: SmellscaPy
site_url: https://mydomain.org/mysite
copyright: Copyright &copy; 2025 Giulia Torriani & Olga Somova, Eurac Research
site_dir: site


nav:
  - Home: index.md
  - Overview: overview/index.md
  - Quick Start: quick_start/index.md     
  - Tutorials:
    - tutorials/index.md
    - "Loading Smellscape Data": tutorials/loading_smellscape_data.md
    - "Data Validation": tutorials/data_validation_processing.md 
    - "Calculating Circumplex Coordinates": tutorials/calculating_pleasantness_presence_coordinates.md
    - "Visualisations": tutorials/visualizations.md
    - "Full Project Example": tutorials/fullprojectexample.md
  - API reference: api/index.md
  - Changelog: changelog/index.md


theme:
  name: material
  logo: assets/logo.png
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.expand
    - navigation.path
    - navigation.top
    - content.code.annotate
    - content.code.copy
    - content.action.edit
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - toc
