site_name: SmellscaPy
site_url: https://mydomain.org/mysite
theme:
  name: material
  logo: assets/logo.png
  features:
    - navigation.instant
    - navigation.tabs
nav:
  - Home: index.md
  - About: about.md
  - Tutorials: tutorials.md
